body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #fdfdfd;
  color: #333;
}

header {
  background: #0077cc;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 60px;
  background: linear-gradient(to right, #89f7fe, #66a6ff);
  color: #fff;
}

.btn {
  background: #fff;
  color: #0077cc;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.form-container {
  max-width: 500px;
  max-height: 500px;
  margin: 50px auto;
  background: #d2d7da;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #0077cc;
  
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  
}

button {
  background: #0077cc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}

.item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 15px;
  width: 200px;
  text-align: center;
}

.item img {
  width: 100%;
  border-radius: 10px;
}

footer {
  text-align: center;
  background: #0077cc;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.about{
  padding: 400px;
  background-color: #50b1e2;
  text-align: center;

}
.cont{
  background-color: #50b1e2;
}